    .product-box {
        margin-top: 64px;
        margin-bottom: 32px;
    }

    .select {
        position: relative;
    }

    .select select {
        display: block;
        background-color: transparent;
        border: none;
        width: 100%;
        width: 288px;
        height: 41px;
        border: 1px solid #C4C4C4;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        padding-left: 14px;
        padding-right: 33px;
    }

    .catalog_nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .catalog__nav-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
    }

    .catalog__nav-link:hover {
        color: orange;
    }

    .catalog__nav-link:not(:last-child)::after {
        content: '/';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        padding-left: 10px;
        padding-right: 10px;
    }