.top{
    &__price {
        height: 400px;
        background-image: url(../img/bcg-price.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.price{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__content {
        grid-column: span 8;
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }

    &__box-name{ 
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__info-top {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__info-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &__price {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }

    &__text-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration-line: underline;
        color: #000000;
        transition: 0.3s;
    }

    &__text-link:hover {
        color: orange;
        text-decoration: none;
    }

    &__link-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
    }

    &__count {
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        outline: none;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: #000000;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &__box-button {
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }

    &__button {
        width: 200px;
        height: 37px;
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #020202;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000000;
        border-radius: 50px;
        transition: 0.7s;
    &__form {
        align-self: center;
        width: 290px;
    }
    &:hover {
            background: #000000;
            color: #FFFFFF;
        }
    }
}

.form {
        padding-top: 42px;
        padding-left: 27px;
        padding-right: 32px;
        
    &__title {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-align: center;
    }

    &__box {
        display: flex;
        gap: 44px;
        flex-direction: column;
        padding-top: 35px;
    }

    &__item {
        font-family: 'Montserrat';
        border: none;
        background: transparent;
        border-bottom: 1px solid #CACDD8;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-bottom: 3px;
     &::placeholder {
            color: #000000;
        }
    }
    &__total {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 18px;
        text-align: center;
    } 
}